---
 const personalImageAlt = "Josué Hernández"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-300/80 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Me llamo Josue David. Actualmente estoy finalizando una tecnología 
        en desarrollo de sistemas informáticos en las UTS, 
        con miras a continuar mi formación como <strong
        >ingeniero en sistemas</strong
      > y, más adelante, ejercer también como <strong
      >docente</strong
      >.
    </p>

    <p>
        Durante mis prácticas desarrollé un <strong
        >sistema para la gestión de eventos académicos y culturales, 
        integrando el uso de códigos QR</strong
      >. Fue una experiencia clave 
      que reforzó mi interés por crear soluciones funcionales y adaptadas a contextos reales.
    </p>

    <p>
        Me mantengo en aprendizaje continuo <strong
        > a través de cursos, documentación y el intercambio con personas 
        del <em class="italic">entorno tecnológico</em> en mi trabajo</strong
      >. Mi objetivo es consolidarme y considerarme como un programador 
      fullstack Senior y aportar tanto en el ámbito profesional como en el educativo.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
