---
import InstagramIcon from "../icons/Instagram.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import DiscordIcon from "../icons/Discord.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialMediaItem from "./SocialMediaItem.astro";
---

<div class="flex flex-col mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
  <span
    class="self-center text-lg font-semibold whitespace-nowrap text-white pb-2"
    >Redes Sociales</span
  >
  <ul
    class="flex items-center justify-center flex-wrap gap-x-3 text-gray-300/80"
  >
    <SocialMediaItem href="https://www.instagram.com/f0ks._7/">
      <InstagramIcon
        class="rounded-full bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045] size-10"
      />
    </SocialMediaItem>
    <SocialMediaItem
      href="https://www.linkedin.com/in/josue-hernandez-5788391ab/"
    >
      <LinkedInIcon class="rounded-full size-10" />
    </SocialMediaItem>
    <SocialMediaItem href="https://discord.com/users/416203721219899393">
      <DiscordIcon class="size-10" />
    </SocialMediaItem>
    <SocialMediaItem href="https://github.com/Gyuko00">
      <GitHubIcon class="size-10" />
    </SocialMediaItem>
  </ul>
</div>
